html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  font-family: 'Open Sans'; }

body {
  touch-action: none; }

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column; }

.logo {
  text-align: center;
  padding: 25px 0; }

.tickets {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start; }

.filters {
  transition: all .1s;
  margin: 0 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
  padding-top: 15px;
  padding-bottom: 15px; }
  .filters:hover {
    box-shadow: 0px 3px 7px rgba(91, 137, 164, 0.13); }
  .filters__item {
    position: relative;
    z-index: 10000; }
    .filters__item > button {
      width: 100%;
      padding: 0 15px;
      background-color: transparent;
      color: #404040;
      font-size: 12px;
      font-weight: bold;
      line-height: 35px;
      text-transform: uppercase;
      text-align: left; }
      .filters__item > button:hover {
        background-color: #F1FCFF; }
    .filters__item ul {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #fff; }

.ticket {
  transition: all .1s;
  margin: 0 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25); }
  .ticket:hover {
    box-shadow: 0px 3px 7px rgba(91, 137, 164, 0.13); }
  .ticket .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
  .ticket__inner {
    display: flex; }
  .ticket__left {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    border-right: 1px solid #ECEFF1; }
  .ticket__right {
    padding: 25px;
    width: 365px; }
  .ticket__carrier {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-bottom: 25px; }
  .ticket__buy {
    background-color: #FF6D00;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    transition: all .1s; }
    .ticket__buy:hover {
      background-color: #FF8124;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25), 0px 1px 0px #F7661D; }
  .ticket__time {
    font-size: 32px;
    line-height: 26px;
    color: #404040; }
  .ticket__route {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%; }
  .ticket__stops {
    color: #8B9497;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase; }
  .ticket__origin, .ticket__destination {
    font-size: 12px;
    font-weight: bold;
    color: #4A4A4A; }
  .ticket__departure, .ticket__arrival {
    font-size: 12px;
    color: #99A1A4; }
  .ticket__destination, .ticket__arrival {
    text-align: right; }
  .ticket__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 546px;
    height: 164px; }

.route__visual {
  display: flex;
  align-items: center;
  position: absolute;
  top: 18px; }

.route__path {
  width: 95px;
  height: 1px;
  background-color: #D2D5D6; }

.route__plane {
  margin-left: 2px;
  height: 13px;
  width: 13px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGU+U2hhcGU8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgdXNpbmcgRmlnbWE8L2Rlc2M+PGcgaWQ9IkNhbnZhcyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2NjkgMzQ1MykiPjxnIGlkPSJTaGFwZSI+PHVzZSB4bGluazpocmVmPSIjcGF0aDBfZmlsbCIgdHJhbnNmb3JtPSJtYXRyaXgoLTEuODM2OTdlLTE2IDEgLTEgLTEuODM2OTdlLTE2IDE2ODIgLTM0NTMpIiBmaWxsPSIjRDJENUQ2Ii8+PC9nPjwvZz48ZGVmcz48cGF0aCBpZD0icGF0aDBfZmlsbCIgZD0iTSAxMyA5LjFMIDEzIDcuOEwgNy41MjYzMiA0LjU1TCA3LjUyNjMyIDAuOTc1QyA3LjUyNjMyIDAuNDM1NSA3LjA2Nzg5IDAgNi41IDBDIDUuOTMyMTEgMCA1LjQ3MzY4IDAuNDM1NSA1LjQ3MzY4IDAuOTc1TCA1LjQ3MzY4IDQuNTVMIDAgNy44TCAwIDkuMUwgNS40NzM2OCA3LjQ3NUwgNS40NzM2OCAxMS4wNUwgNC4xMDUyNiAxMi4wMjVMIDQuMTA1MjYgMTNMIDYuNSAxMi4zNUwgOC44OTQ3NCAxM0wgOC44OTQ3NCAxMi4wMjVMIDcuNTI2MzIgMTEuMDVMIDcuNTI2MzIgNy40NzVMIDEzIDkuMVoiLz48L2RlZnM+PC9zdmc+);
  background-repeat: no-repeat; }

.filter {
  padding: 0 15px 0 30px;
  width: 232px;
  display: flex;
  align-items: baseline; }
  .filter:hover {
    background-color: #F1FCFF; }
  .filter label {
    cursor: pointer;
    flex-grow: 1;
    position: relative;
    font-size: 13px;
    line-height: 35px;
    color: #404040; }
    .filter label:hover:before {
      border: 1px solid #82bff0; }
    .filter label:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      left: -28px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 3px;
      border: 1px solid #D2D5D6; }
    .filter label:after {
      content: '';
      opacity: 0;
      position: absolute;
      left: -20px;
      top: 50%;
      width: 5px;
      height: 10px;
      border-right: 2px solid #3E9CE8;
      border-bottom: 2px solid #3E9CE8;
      border-bottom-right-radius: 1px;
      transform: translateY(-55%) rotate(40deg); }
  .filter input {
    visibility: hidden; }
    .filter input:checked + label:before {
      border: 1px solid #3E9CE8; }
    .filter input:checked + label:after {
      opacity: 1; }
  .filter button {
    transition: all .3s;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #3E9CE8;
    background-color: transparent;
    height: 100%;
    padding: 1px; }
    .filter button:hover {
      border-bottom-color: #8bc4f1; }

@media only screen and (max-width: 835px) {
  .tickets {
    max-width: 566px; }
  .filters {
    width: 100%; }
    .filters button {
      margin-left: 15px;
      width: unset; }
      .filters button[aria-expanded="true"] + ul {
        display: block; }
    .filters ul {
      transition: all .1s;
      margin: 0 10px 20px;
      border-radius: 5px;
      box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
      position: absolute;
      left: 0;
      display: none; }
      .filters ul:hover {
        box-shadow: 0px 3px 7px rgba(91, 137, 164, 0.13); } }
